<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Sektörel Çözümler</h2>
    </div>
  </div>
</div>

<section class="about-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-content">
        <h2>Sektörel Çözümler</h2>
        <p>Chatbot çözümleri çok faklı sektörlerde, çok farklı amaçlar için kullanılabilmektedir. Rabot Chatbot’un çıkış
          noktası bir markanın reklam kampanyası için, Facebook’da yenilikçi ve eğlenceli bir İletişim çözümü üretmek
          adınaydı. Rabot, bugün reklam ve İletişim kampanyaları çözümü olmaktan çok daha ileri gitmiştir ve pek çok
          sektör için fayda sağlamaktadır.
          Sektörel chatbot çözümlerinde, öncelleri bankacılık ve finans sektörü ön plana çıkmıştır. Günümüzde hemen
          hemen tüm sektörlerde kullanılabilir hale gelmiştir. Artık tüketiciler olsun, müşteriler olsun istedikleri
          hizmete ulaşmada uzun bekleme sürelerine tahammülü yoktur. Ayrıca sipariş, ödeme, rezervasyon ve satın alma
          gibi işlemler için işlem süresi kısalmasıda Chatbot’lardan olan memnuniyeti artırmıştır. Yine de en fazla
          hangi sektörler için uygun olacağını, hangi sektörlerde daha çok kullandığını düşünecek olursak, Bankacılık
          haricinde, E-ticaret, Sağlık, Seyahat ve Turizm sektörleri ön plana çıkmaktadır. Araştırmalar, Chatbot ların
          kullanıldığı sektörlerin ve kullanım oranlarınında artacağını göstermektedir.

        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/sectorel-solutions/1- sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>E-Ticaret Sektöründe Chatbot’lar </h3>
          <p>E-Ticaretde müşteri ihtiyaçları ve soruları, her an gelebilmekte en hızlı ve doğru şekilde karşılayan
            firmalar avantaj yakalayabilmektedir. Birbirinde farklı sosyal mecralardan, İletişim platformlarından gelen
            bu mesajlarda, Chatbot’lar ile müşteriler, kargolarını, siparişlerini, iadelerini kolaylıkla
            sordurabilmektedirler. Chatbot ların satışada katkısı olmaktadır. Müşterilere aradıkları ürünü kolay
            bulmalarını sağlamanın yanında onlara ürün ya da hediye fikirleri de sunabilmektedirler. Ayrıca, yapay zeka
            ve öğrenme yeteneği ile müşterilerin hareketlerini inceleyerek satın alma davranışlarını anlayabilirler. Bu
            bilgiler ile doğru kampanyaları, ürünleri doğru müşterilere, doğru anda sunarlar. Müşterilere indirim
            bilgisi ya da indirim kupanları göndererek onları satın almaya teşvik ederler.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Sağlık Sektöründe Chatbot’lar </h3>
          <p>Chatbot’lar Sağlık Sektöründe, randevu almak gibi süreçleri iyileştirmenin, hızlandırmanı yanında farklı
            amaçlar içinde kullanılabilmektedir. Hastalar, Chatbot’dan röntgen, laboratuvar sonucu sorgulayabilmektedir.
            Hastaların telefonda geçirecekleri kayıp zaman engellerek, pek çok işlemin Chatbot ile gerçekleştirilmesi
            sağlanabiliyor. Ayrıca, Chatbotlar ile sağlık sektöründe, hastalara çeşitli hastalıklar, tedaviler ve
            çeşitli estetik operasyonlar hakkında bilgi verme şansına veya internet sitesinde ilgili bölüme yönlendirme
            şansına sahipler. Özellikle saç ekimi, burun vb estetik operasyonlar, diş operasyonları için yurtiçi ve
            yurtdışında konuyle ilgilenebilecek müşterilere ulaşabilme ve onlara kendi dillerinde cevap
            verebilmektedirler. Bu sektörde gelecekteki beklenti, Chatbot’un sorular sorarak hastaların teşhislerini
            belli bir ölçüde yapabiliyor ve doktorun iş yükünü azaltıyor olmasıdır.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/sectorel-solutions/2- sektörel chatbot-eps.png" alt="image">
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/sectorel-solutions/3-sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Seyahat ve Turizm Sektöründe Chatbot’lar </h3>
          <p>Seyahat ve Turizm sektörleri oldukça yoğun rekabetin olduğu, hizmet kalitesinin çok önemli olduğu, dinamik
            sektörlerin başında gelmektedir. Müşteri memnuniyet artıracak tüm eforlar firmalara fayda
            sağlayabilmektedir. Chatbot ile müşterilerin tatil beklentilerini, ihtiyaçlarını anlayarak alternative
            seyahat rotaları çıkarmak ve tatil önerilerinde bulunmak mümkündür. Müşteri tüm süreçlerini Chatbot üzerinde
            yönetebilmektedir. Otel rezarvasyonu yaptırmak, bilet satın almak, iptal ve güncellemeler yaptırmak,
            şikayetleri almak, tesisler hakkında soruları cevaplamak gibi pek çok süreci Chatbot ile çözebilmektedir.
            Online turizm ve seyahat pazarı her geçen gün büyümektedir. Tüm dijital platformları hızlı ve başarılı bir
            şekilde kullanan firmalar, müşteri memnuniyetini arttırarak bir adım ön plana cıkmaktadır.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Bankacılık ve Finans Sektöründe Chatbot’lar</h3>
          <p>Bankacılık ve finans Chatbot’arın öncelikli olarak kullanılmaya başlandığı sektörlerdendir. Son yıllarda
            yaşanan dijital dönüşüm ile internet ve mobil bankacılık kullanım oranları çok fazla arttmıştır. Günümüzde,
            müşteriler tarafında oldukça sık kullanılan telefon bankacılığının yerine, Chatbot’lar tercih edilmeye
            başlanmıştır. Bu eğilim müşterilere zamandan tasarruf sağlamanın yanında, bankalara ve finans kuruluşlarına
            maliyetleri azaltmak açısından tasarruf sağlamaktadır. Müşteriler, dijital platformlardaki Chatbot ile para
            gönderme, alma, ödeme yapmak, bakiye sorgulama gibi pek işlemi yapabilme şansına sahiptir. Dijital sohbet
            asistanları, müşterilere işlemlerini hızlı ve kolay bir şekilde yapmalarını sağlarak zamandan tasarruf
            sağlarken, banka ve finans firmalarınada çalışan sayılarını düşürüp maliyetlerini kısarak, tasarruf sağlar.
            Müşterilerin verilerini analiz ederek onlara özel teklifler ve ürünler de sunabilmektedir.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/sectorel-solutions/4- sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="about-content">
        <p>Yapay zeka ve doğal dil işleme teknolojisine sahip, Rabot, WhatsApp, Facebook Messenger, Webchat, Instagram,
          Twitter, Skype, WeChat, Telegram, Slack üzerinden çalışabilmekte, dijital kanallardaki tüm iletişimler tek bir
          noktada toplayabilmektedir. Ayrıca, belirttiğimiz sektörlerin de ihtiyac duyacağı, canlı sohbet yazılımı ile
          Rabot, belli noktalarda iletişimi canlı destek temsilcilerine yönlendirebilmektedir.Bunu cevap veremediği ya
          da önceden seçilmiş belli konularda, Bot ile yazışan müşterinin talebi üzerine, ya da belirli gün ve saatler
          görüşmeleri canlı desteğe yönledirme özelliğine sahiptir. Canlı destek hizmetini Rabot panelinden veya
          kullandıkları sohbet yazılımı üzerinde verebilmektedir. Gerekli olacak tüm entegrasyonlar ve geliştirmeler
          firmamız tarafından yapılmaktadır.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->