<!-- Start Navbar Area -->
<ng-container *transloco="let t">
    <div class="{{navClass}}">
        <div class="spacle-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" [routerLink]="selectedLang == 'tr' ? '/anasayfa' : '/home'">
                        <img src="assets/img/rabot-logo.png" alt="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a [routerLink]="selectedLang == 'tr' ? '/anasayfa' : '/home'" routerLinkActive="active" class="nav-link">{{ t('homepage') }}</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    {{ t('services') }} <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a [routerLink]="selectedLang === 'tr' ? '/chatbot-gelistirme-servisleri' : '/chatbot-development-services'" routerLink="/chatbot-development-services" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"
                                            class="nav-link">{{t('servicesMenu.chatbotDevelopmentService')}}</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                         <a [routerLink]="selectedLang === 'tr' ? '/chatbot-entegrasyonları' : '/chatbot-integrations'" routerLinkActive="active"
                                            class="nav-link">{{t('servicesMenu.chatbotIntegrations')}}</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a [routerLink]="selectedLang === 'tr' ? '/sektorel-chatbot-cozumleri' : '/sectoral-chatbot-solutions'" routerLinkActive="active"
                                            class="nav-link">{{t('servicesMenu.sectoralChatbotSolutions')}}</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a [routerLink]="selectedLang === 'tr' ? '/chatbot-mesajlasma-ve-yonetim-paneli' : '/chatbot-messaging-and-management-panel'" routerLinkActive="active"
                                            class="nav-link">{{t('servicesMenu.chatbotMessagingPanels')}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/pricing" routerLinkActive="active"
                                    class="nav-link">{{t('projects')}}</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a [routerLink]="selectedLang === 'tr' ? '/biz-kimiz' : '/who-we-are'" routerLinkActive="active" class="nav-link">{{t('whoWeAre')}}</a>
                            </li>
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a [routerLink]="selectedLang === 'tr' ? '/blog-haberler' : '/blog-news'" routerLinkActive="active" class="nav-link">{{t('blogNews')}}</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a [routerLink]="selectedLang === 'tr' ? '/iletisim' : '/contact'" routerLinkActive="active" class="nav-link">{{t('contact')}}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    <div class="icon">
                                        <img src="assets/img/world.png" style="height: 22px;" alt="logo">
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('tr')">{{t('turkish')}}</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('en')">{{t('english')}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <div class="others-options">

                            <a routerLink="/auth/signin" class="optional-btn">
                                <i class="bx bx-log-in"></i>{{t('login')}}<span></span>
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

</ng-container>