<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog & Haberler</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">


            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/saglik-sektorunde-chatbot"><img src="assets/img/blog-image/saglık-blog.png"
                                alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/saglik-sektorunde-chatbot">Sağlık Sektöründe Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/saglik-sektorunde-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/yapay-zeka-destekli-chatbot"><img
                                src="assets/img/blog-image/yapay-zeka-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/yapay-zeka-destekli-chatbot">Yapay Zeka Destekli Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/yapay-zeka-destekli-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/tr/facebook-messenger-chatbot"><img
                                src="assets/img/blog-image/facebook-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/tr/facebook-messenger-chatbot">Facebook Messenger Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/tr/facebook-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/universitelerde-chatbot"><img src="assets/img/blog-image/universite-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/universitelerde-chatbot">Üniversitelerde Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/universitelerde-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/e-ticaret-sitesi-icin-chatbotlar"><img src="assets/img/blog-image/etücaret-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/e-ticaret-sitesi-icin-chatbotlar">E-ticaret Sitesi İçin Chatbotlar</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/e-ticaret-sitesi-icin-chatbotlar"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/tr/whatsapp-messenger-chatbot"><img src="assets/img/blog-image/whatsapp-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/tr/whatsapp-messenger-chatbot">Whatsapp Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/tr/whatsapp-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>