<!-- Start Footer Area -->
    <footer class="footer-area">
        <div class="divider"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a routerLink="/">
                                <img src="assets/img/rabot-logo.png" alt="image">
                            </a>
                        </div>
                        <p style="width:270px">Rabot, Ranna Digital Works’e ait bir girişimdir. RDW, 2016 yılında
                            Chatbot Çözümleri geliştirmeye başlamış, 2019 yılında Chatbot geliştirme çözümlerini Rabot
                            çatısı altında toplamıştır</p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Hizmetlerimiz</h3>

                        <ul class="services-list" style="width: 175px;">
                            <li><a routerLink="/chatbot-gelistirme-servisleri">Chatbot Geliştirme Hizmetleri</a>
                            </li>
                            <li>
                                <a routerLink="/chatbot-entegrasyonları">Chatbot Entegrasyonları</a>
                            </li>
                            <li>
                                <a routerLink="/sektorel-chatbot-cozumleri">Sektörel Chatbot Çözümleri</a>
                            </li>
                            <li>
                                <a routerLink="/chatbot-mesajlasma-ve-yonetim-paneli">Chatbot Mesajlaşma Panelleri</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Rabot</h3>

                        <ul class="support-list">
                            <li>
                                <a routerLink="/biz-kimiz">Biz Kimiz</a>
                            </li>
                            <li><a routerLink="/pricing">Projeler</a></li>
                            <li>
                                <a routerLink="/blog-haberler">Blog & Haberler</a>
                            </li>
                            <li>
                                <a routerLink="/iletisim">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>İletişim</h3>

                        <ul class="footer-contact-info">
                            <li> E-mail: <a href="mailto:info@rabot.chat">info@rabot.chat</a></li>
                            <li> Telefon: <a href="tel:+902166290659">+90 (216) 629 0659</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <p>&copy; Copyright {{currentYear}} Rabot. Coded by <a href="#" target="_blank">Kaan Çelik</a></p>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <div class="go-top"><i class='bx bx-chevron-up'></i></div>