<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="content">
                                <h1>Rabot Chatbot müşterinizle sürekli iletişimde!</h1>
                                <p>Rabot, sohbeti bol, anlayışlı, tutumlu ve yardımsever bir çalışandır. WhatsApp,
                                    Facebook, Webchat, Instagram, Twitter, Skype, WeChat, Telegram da aynı anda
                                    müşterilere cevap verir, 7x24 saat işini severek, azimle çalışır. Müşterilerin
                                    kalbine, patronun gözüne girmeyi başarır!</p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <a routerLink="/iletisim" class="default-btn"><i class="bx bxs-contact"></i>Bilgi
                                            Al<span></span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row" style="margin-top:25px">
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 25px" src="assets/img/social-icons/whatsapp-icon.png"
                                                    alt="whatsapp ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 27px" src="assets/img/social-icons/messenger-icon.png"
                                                    alt="facebook messenger ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 25px" src="assets/img/social-icons/instagram-icon.png"
                                                    alt="instagram ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 25px" src="assets/img/social-icons/skype-icon.png" alt="skype ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 25px" src="assets/img/social-icons/wechat-icon.png" alt="wechat ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img style="height: 25px" src="assets/img/social-icons/twitter-icon.png" alt="twitter ikonu">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="banner-image bg-1">
                    <app-chatting></app-chatting>

                    <img src="assets/img/banner-image1.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape19"><img src="assets/img/shape/18.png" alt="image"></div>
</div>
<!-- End Main Banner Area -->

<app-partner></app-partner>


<!-- Start Services Area -->
<section class="services-area bg-right-color ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-content">
                <div class="content left-content">
                    <div class="icon">
                        <img style="margin-left: -20px" src="assets/img/rabotikonsmall.png" alt="image">
                    </div>
                    <h2>Rabot, canlı destek ekibi ile uyum içinde çalışır. </h2>
                    <p>NLP, Doğal dil işleme ve AI, yapay zeka destekli Rabot, Rabot Web Panel ile entegre çalışabilir.
                        Farklı kanallardan gelen müşteriler ihtiyaç duydukları yerde, cevap alamayacakları sorularda
                        canlı müşteri temsilcisine ulaşma şansına sahiptirler. Müşteri temsilcileri, Rabot ile yaşanan
                        yazışma sürecini de görerek müşteriler ile iletişime geçerler.</p>

                    <a routerLink="/chatbot-mesajlasma-ve-yonetim-paneli" class="default-btn"><i class="bx bxs-spreadsheet"></i>
                        Detaylar<span></span></a>
                </div>
            </div>

            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/home1yeni.png" alt="Rabot Chat">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Services Area -->
<section class="services-area bg-left-color bg-f4f6fc ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/home2yeni.png" alt="image">
                </div>
            </div>

            <div class="services-content">
                <div class="content">
                    <div class="icon">
                        <img style="margin-left: -20px" src="assets/img/rabotikonsmall.png"
                            alt="Rabot Chat Aplikasyonu">
                    </div>
                    <h2>API desteği olsun yada olmasın farklı platformlara entegre olur.</h2>
                    <p>Rabot, WhatsApp Business Api ile ya da Api hizmeti almadan, WhatsApp da çalışabilir. Instagram’da
                        DM den gelen mesajlara API olmadan cevap verir. Verilen cevap sayısına göre bir ücret talep
                        etmez. Rabot ile maliyetlerinizi artırmadan, canlı destek hizmeti verdiğiniz platformları da
                        böylece artırabilirsiniz. </p>

                    <a routerLink="/chatbot-entegrasyonları" class="default-btn"><i class="bx bxs-spreadsheet"></i>
                        Detaylar<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Features Area -->
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Rabot Chatbot’umuzun say say bitmeyen faydaları</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-location-plus'></i>
                    </div>
                    <h3>Her An, Her Yerdedir</h3>
                    <p>Pek çok sosyal mecrada ya da mesajlaşma platformunda müşterilere cevap verebilir. Web siteniz,
                        Mobil App’iniz dahil entegrasyon seçenekleri vardır.</p>

                    <div class="back-icon">
                        <i class='bx bx-location-plus'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-wallet'></i>
                    </div>
                    <h3>Maliyetlerinizi Düşürür</h3>
                    <p>Canlı destek operasyonlarınızı daha az müşteri temsilcisi ile yüretebilmenizi sağlayak,
                        maliyetlerinizi düşürmenize yardımcı olur.</p>

                    <div class="back-icon">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-downvote'></i>
                    </div>
                    <h3>İş Yükünüzü Azaltır</h3>
                    <p>Canlı destek görevinde temsilcilere yardımcı olarak iş yükünün düşmesini, çalışanların ise bu
                        sayede daha verimli çalışmalarını sağlar.</p>

                    <div class="back-icon">
                        <i class='bx bx-downvote'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-smile'></i>
                    </div>
                    <h3>Memnuniyeti Artırır</h3>
                    <p>Müşteri temsilcisi ile görüşmek için sıra beklemeyi ve zaman kaybını ortadan kaldırır. 7 gün 24
                        saat hizmet verir, müşteri memnuniyetini arttırır</p>

                    <div class="back-icon">
                        <i class='bx bx-smile'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                    <h3>Satışları Artırır</h3>
                    <p>NLP, Doğal Dil İşleme teknoloji ise müşterilerin ihtiyaçlarını doğru anlar. Onlara doğru ürün ve
                        hizmetleri anında sunarak satışları arttırır.</p>

                    <div class="back-icon">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                    <h3>Mesajlaşma Paneli Sunar</h3>
                    <p>Bot’un cevap veremediği noktada, yazışma panele düşer, uygun temcilsi görüşmeye devam eder. Tüm
                        görüşmeler kayıt edilip, raporlanabilir.</p>

                    <div class="back-icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Testimonials Area -->
<section class="testimonials-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Müşterilerimizin Bizle İlgili Düşünceleri</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-testimonials-item">
                    <div class="client-info">
                        <img src="assets/img/author-image/6.jpg" alt="image">
                        <h3>Michel John</h3>
                        <span>CEO at Envato</span>
                    </div>

                    <div class="testimonials-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-testimonials-item">
                    <div class="client-info">
                        <img src="assets/img/author-image/7.jpg" alt="image">
                        <h3>Sarah Taylor</h3>
                        <span>CEO at EnvyTheme</span>
                    </div>

                    <div class="testimonials-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Our Loving Clients Area -->

<section class="video-presentation-area pb-100 pt-100">
    <div class="row" style="max-width: max-content;margin:auto">
        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>

        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>

        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>
    </div>


</section>

<!-- Start Blog Area -->
<section class="blog-area">
    <div class="container">
        <div class="section-title">
            <h2>Blog & Haberler</h2>
        </div>

        <div class="row" style="margin-bottom: 40px">
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/yapay-zeka-destekli-chatbot"><img src="assets/img/blog-image/yapay-zeka-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/yapay-zeka-destekli-chatbot">Yapay Zeka Destekli Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/yapay-zeka-destekli-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/saglik-sektorunde-chatbot"><img src="assets/img/blog-image/saglık-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/saglik-sektorunde-chatbot">Sağlık Sektöründe Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/saglik-sektorunde-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/tr/facebook-messenger-chatbot"><img src="assets/img/blog-image/facebook-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/tr/facebook-messenger-chatbot">Facebook Messenger Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/tr/facebook-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 