<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="content">
                                <h1>Rabot Chatbot is in constant communication with your customer!</h1>
                                <p>Rabot, sohbeti bol, anlayışlı, tutumlu ve yardımsever bir çalışandır. WhatsApp,
                                    Facebook, Webchat, Instagram, Twitter, Skype, WeChat, Telegram da aynı anda
                                    müşterilere cevap verir, 7x24 saat işini severek, azimle çalışır. Müşterilerin
                                    kalbine, patronun gözüne girmeyi başarır!</p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <a routerLink="/contact" class="default-btn"><i class="bx bxs-contact"></i>Get
                                            Info<span></span></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row" style="margin-top:25px">
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/whatsapp-icon.png"
                                                    alt="whatsapp ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/messenger-icon.png"
                                                    alt="facebook messenger ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/instagram-icon.png"
                                                    alt="instagram ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/skype-icon.png" alt="skype ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/wechat-icon.png" alt="wechat ikonu">
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <img src="assets/img/social-icons/twitter-icon.png" alt="twitter ikonu">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="banner-image bg-1">
                    <app-chatting></app-chatting>

                    <img src="assets/img/banner-image1.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape19"><img src="assets/img/shape/18.png" alt="image"></div>
</div>
<!-- End Main Banner Area -->

<app-partner></app-partner>


<!-- Start Services Area -->
<section class="services-area bg-right-color ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-content">
                <div class="content left-content">
                    <div class="icon">
                        <img style="margin-left: -20px" src="assets/img/rabotikonsmall.png" alt="image">
                    </div>
                    <h2>Rabot works in harmony with the live support team.</h2>
                    <p>Rabot, NLP, Natural language processing and AI and artificial intelligence supported, can also
                        work integrated with Rabot Web Panel. Customers coming from different channels have the chance
                        to reach the live customer representative where they need to get answers. The customer
                        representatives contact the customers by seeing the correspondence process with Rabot.</p>

                    <a routerLink="/chatbot-messaging-and-management-panel" class="default-btn"><i class="bx bxs-spreadsheet"></i>
                        Details<span></span></a>
                </div>
            </div>

            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/home1yeni.png" alt="Rabot Chat">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Services Area -->
<section class="services-area bg-left-color bg-f4f6fc ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="services-image">
                <div class="image">
                    <img src="assets/img/services-image/home2yeni.png" alt="image">
                </div>
            </div>

            <div class="services-content">
                <div class="content">
                    <div class="icon">
                        <img style="margin-left: -20px" src="assets/img/rabotikonsmall.png"
                            alt="Rabot Chat Aplikasyonu">
                    </div>
                    <h2>It integrates into different platforms with or without API support.</h2>
                    <p>Rabot can also work on WhatsApp, with or without the WhatsApp Business API service. Responds to
                        messages from DM on Instagram without API. It does not charge a fee based on the number of
                        answers given. With Rabot, you can increase the platforms you offer live support without
                        increasing your costs.</p>

                    <a routerLink="/chatbot-integrations" class="default-btn"><i class="bx bxs-spreadsheet"></i>
                        Details<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Features Area -->
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Endless benefits of our Rabot Chatbot</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-location-plus'></i>
                    </div>
                    <h3>Anytime, Anywhere</h3>
                    <p>It can respond to customers in many social media or messaging platforms. Your website has
                        integration options, including your Mobile App.</p>

                    <div class="back-icon">
                        <i class='bx bx-location-plus'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-wallet'></i>
                    </div>
                    <h3>Lowers Your Costs</h3>
                    <p>It helps you reduce costs by enabling you to conduct live support operations with fewer customer
                        representatives.</p>

                    <div class="back-icon">
                        <i class='bx bx-wallet'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-downvote'></i>
                    </div>
                    <h3>Reduces Your Workload</h3>
                    <p>In the live support task, it helps the representatives to reduce the workload and thus, the
                        employees to work more efficiently.</p>

                    <div class="back-icon">
                        <i class='bx bx-downvote'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-smile'></i>
                    </div>
                    <h3>Increases Satisfaction</h3>
                    <p>It eliminates waiting and queuing time to meet with the customer representative. It provides 24/7
                        service and increases customer satisfaction.</p>

                    <div class="back-icon">
                        <i class='bx bx-smile'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                    <h3>Increases Sales</h3>
                    <p>NLP, Natural Language Processing technology, on the other hand, understands customers' needs
                        correctly. It increases sales by offering them the right products and services instantly.</p>

                    <div class="back-icon">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="features-box">
                    <div class="icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                    <h3>Offers Messaging Panel</h3>
                    <p>At the point where the bot cannot respond, the correspondence falls on the panel, and the
                        appropriate representative continues to meet. All interviews can be recorded and reported.</p>

                    <div class="back-icon">
                        <i class='bx bx-conversation'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Testimonials Area -->
<section class="testimonials-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Customers' Thoughts About Us</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-testimonials-item">
                    <div class="client-info">
                        <img src="assets/img/author-image/6.jpg" alt="image">
                        <h3>Michel John</h3>
                        <span>CEO at Envato</span>
                    </div>

                    <div class="testimonials-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-testimonials-item">
                    <div class="client-info">
                        <img src="assets/img/author-image/7.jpg" alt="image">
                        <h3>Sarah Taylor</h3>
                        <span>CEO at EnvyTheme</span>
                    </div>

                    <div class="testimonials-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse.</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Our Loving Clients Area -->

<section class="video-presentation-area pb-100 pt-100">
    <div class="row" style="max-width: max-content;margin:auto">
        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>

        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>

        <div class="video-box">
            <img src="assets/img/video-bg.jpg" class="main-image" alt="image">

            <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube"><i
                    class="bx bx-play"></i></a>

            <div class="shape1"><img src="assets/img/shape/1.png" alt="image"></div>
            <div class="shape2"><img src="assets/img/shape/2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/3.png" alt="image"></div>
            <div class="shape4"><img src="assets/img/shape/4.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/6.png" alt="image"></div>
        </div>
    </div>


</section>

<!-- Start Blog Area -->
<section class="blog-area">
    <div class="container">
        <div class="section-title">
            <h2>Blog</h2>
        </div>

        <div class="row" style="margin-bottom: 40px">
            
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/artificial-intelligent-chatbot"><img src="assets/img/blog-image/yapay-zeka-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/artificial-intelligent-chatbot">The Artificial Intelligence Revolution - Rise Of The Chatbots</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/artificial-intelligent-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/chatbot-in-the-healthcare-industry"><img src="assets/img/blog-image/saglık-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/chatbot-in-the-healthcare-industry">Chatbot in the Healthcare Industry</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/chatbot-in-the-healthcare-industry"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/en/facebook-messenger-chatbot"><img src="assets/img/blog-image/facebook-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> 1 Mayıs 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/en/facebook-messenger-chatbot">Facebook Messenger Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/en/facebook-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
