<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Bize Ulaşın</h2>
            <p>Bilgi almak için iletişim kanallarını kullanmaktan çekinmeyiniz.</p>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Contact Area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="contact-inner">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact-features-list">
                        <h3>Rabot</h3>
                        <p>Rabot, Ranna Digital Works’e ait bir girişimdir. RDW, 2016 yılında Chatbot Çözümleri
                            geliştirmeye başlamış, 2019 yılında Chatbot geliştirme çözümlerini Rabot çatısı altında
                            toplamıştır.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="contact-info">
                        <div class="contact-info-content">
                            <h3>Bizimle mail, telefon ve sosyal medya hesaplarımızdan iletişime geçebilirsiniz</h3>
                            <h2>
                                <a href="tel:+902166290659">+90 (216) 629 0659</a>
                                <span>OR</span>
                                <a href="mailto:info@rabot.chat">info@rabot.chat</a>
                            </h2>

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>