<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Chatbot Integrations</h2>
    </div>
  </div>
</div>

<section class="about-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-content">
        <h2>Chatbot Integrations</h2>
        <p>Today, the social media platforms that companies use to maintain and improve their communication with their
          customers have also started to be used as marketing tools. As direct communication can be provided, the
          importance of accessing existing and potential customers with these platforms is increasing day by day.
          Chatbots have started to be preferred to understand consumer habits, improve their experience and increase
          their satisfaction in these platforms.
          Rabot has numerous messaging platforms and the ability to integrate social media messaging tools. It can also
          serve on websites and mobile applications. Rabot can be installed on-premise, and many platforms can be
          integrated quickly and easily.

        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 1.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>Rabot has the ability to work with API or Business APIs that it provides to its platforms such as WhatsApp,
            Facebook Messenger, Webchat, Twitter, Skype, WeChat, Telegram, Slack. Rabot can also reply to messages from
            Instagram DM and WhatsApp with the messaging software we developed, even without Business APIs. The ability
            to reply to messages from WhatsApp without an API also eliminates the costs per messaging on WhatsApp. The
            ability to respond to messages from the DM on the Instagram side makes RABOT unique.
          </p>
          <p>Successful integrations can also be made with services that support API with Rabot. Integration with cargo
            companies for querying cargo on Chatbot, service integrations with e-commerce sites for inquiring campaigns,
            products or orders on e-commerce sites. We have briefly mentioned below the integrations and benefits that
            can be achieved with chatbot on the web and social media.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top:20px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Website Chatbots</h3>
          <p>Chatbot integrations and usage are quite common on websites. Many companies use live messaging software to
            help their customers. They aim to benefit by including Chatbot in the live messaging software. Chatbots
            working on the sites can do many things that live support employees can do. The main ones are to meet the
            customers entering the site, to answer frequently asked questions, to make an appointment, to make a
            reservation.
          </p>
          <p>Being able to communicate with your customers 24 hours a day, 7 days a week, it can increase sales and also
            increase sales. With a properly designed chatbot, they can fully understand customer needs and direct
            customers to the right product on the site. However, Chatbots will be able to respond within certain limits,
            as it is a live chat solution that has been thought in advance. They can refer to the live support
            representative at the point where they cannot respond. Rabot allows the management panels and customer
            representatives to step in and chat directly on issues that chatbot cannot respond to.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 2-pdf.png" alt="image">
        </div>
      </div>
    </div>

    <div style="margin-top:20px" class="row align-items-center">
      <div class="about-content">
        <h3>Facebook Messenger Chatbots</h3>
        <p>Contrary to the fact that Facebook Messenger Chatbots are on the web, it not only answers and informs users'
          questions, but can send messages directly to the customer who interacted once. Therefore, he is involved in
          social media marketing processes of many brands.
        </p>
        <p>Facebook Messenger Chatbots can be very effective in sending messages to interactive customers and directing
          them to sales. Before you decide to use Chatbot on Facebook Messenger, you need to look at your customer
          behavior. If your customers do not communicate with your company on Facebook, if you do not have a large
          Facebook audience, it will not be a true investment. If you have a digital marketing project that you have
          planned for Facebook, it will be correct to include Chatbot in your project.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 3-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>You will need to determine in advance what chatbot will serve on your Facebook page, what needs your
            customers will meet, how customers will experience, and what Chatbot integrations will be made. In this you
            need to write a Chatbot script. You will need to determine exactly whether the bot will provide customers
            with information about new products, direct them to the site for purchase. You should definitely clarify
            these issues before getting Chatbot service.
            When customers do not get the answer they want, they will want to ask their questions directly to the live
            support representative. Chatbot should then be able to direct the customer to live support. If there is no
            live support team, they can share a contact number or email with customers. Rabot features live messaging
            software with web panels. In questions that he / she cannot answer, it leads to the customer representative.
          </p>
        </div>
      </div>
    </div>

    <!-- <div style="margin-top:20px" class="row align-items-center">
      <div class="about-content">
        <h3>Twitter Chatbot’ları</h3>
        <p>Sosyal medyada kullandığınız Chatbot’ları sadece müşterilerinizin sorularını yanıtlamak ve memnuniyetlerini
          artırmak için değil, doğrudan müşteriyi satın almaya yönledirebilecek teklifler, onlara özel ürün ve
          kampanyalarda sunmak içinde kullanmalısınız.
        </p>
      </div>
    </div> -->
    <div style="margin-top:20px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Twitter ChatBots</h3>
          <p>You should use the Chatbots you use on social media not only to answer the questions of your customers and
            increase their satisfaction, but also to offer offers, special products and campaigns that can direct the
            customer to purchase.
          </p>
          <p>The use of Chatbot on Twitter is suitable for companies that aim to increase their interaction with their
            customers and increase their sales. The fact that Twitter has access to real-time data, information about
            customers and their usage habits, and good messaging feature makes using Chatbot logical. In addition,
            Twitter provides detailed API access for the development of Chatbot, making it easier to use, expanding
            functions and possibilities. With Twitter Chatbot integrations, operations such as Tweeting and Retweeting,
            Following, Removing, Message to other accounts can be done.
            Rabot Chatbot is on Twitter; It can be used to share various information, create interactive content and
            interact, and give customer inquiries quickly.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 4-pdf.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->