<!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="spacle-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/anasayfa">
                        <img src="assets/img/rabot-logo.png" alt="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/anasayfa" routerLinkActive="active" class="nav-link">Anasayfa</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Hizmetlerimiz <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/chatbot-gelistirme-servisleri" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"
                                            class="nav-link">Chatbot Geliştirme Hizmeti</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                         <a routerLink="/chatbot-entegrasyonları" routerLinkActive="active"
                                            class="nav-link">Chatbot Entegrasyonları</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/sektorel-chatbot-cozumleri" routerLinkActive="active"
                                            class="nav-link">Sektörel Chatbot Çözümleri</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/chatbot-mesajlasma-ve-yonetim-paneli" routerLinkActive="active"
                                            class="nav-link">Chatbot Mesajlaşma Panelleri</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/pricing" routerLinkActive="active"
                                    class="nav-link">Projeler</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/biz-kimiz" routerLinkActive="active" class="nav-link">Biz Kimiz</a>
                            </li>
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/blog-haberler" routerLinkActive="active" class="nav-link">Blog & Haberler</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/iletisim" routerLinkActive="active" class="nav-link">İletişim</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    <div class="icon">
                                        <img src="assets/img/world.png" style="height: 22px;margin-top:-7px" alt="logo">
                                    </div>
                                </a>
                                <ul class="dropdown-menu privateNav">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('tr')">TR</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('en')">ENG</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <div class="others-options">

                            <a routerLink="/auth/signin" class="optional-btn">
                                <i class="bx bx-log-in"></i>Oturum Aç<span></span>
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->