<!-- Start Navbar Area -->
    <div class="navbar-area navbar-style-two">
        <div class="spacle-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/home">
                        <img src="assets/img/rabot-logo.png" alt="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Services <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/chatbot-development-services" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}"
                                            class="nav-link">Chatbot Development Service</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                         <a routerLink="/chatbot-integrations" routerLinkActive="active"
                                            class="nav-link">Chatbot Integrations</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/sectoral-chatbot-solutions" routerLinkActive="active"
                                            class="nav-link">Sectoral Chatbot Solutions</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a routerLink="/chatbot-messaging-and-management-panel" routerLinkActive="active"
                                            class="nav-link">Chatbot Messaging Panels</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/pricing" routerLinkActive="active"
                                    class="nav-link">Projects</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/who-we-are" routerLinkActive="active" class="nav-link">Who We Are</a>
                            </li>
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/blog-news" routerLinkActive="active" class="nav-link">Blog & News</a>
                            </li>

                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    <div class="icon">
                                        <img src="assets/img/world.png" style="height: 22px;margin-top:-7px" alt="logo">
                                    </div>
                                </a>
                                <ul class="dropdown-menu privateNav">
                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('tr')">TR</a>
                                    </li>

                                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                                        <a class="dropdown-item" (click)="change('en')">ENG</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <div class="others-options">

                            <a routerLink="/auth/signin" class="optional-btn">
                                <i class="bx bx-log-in"></i>Login<span></span>
                            </a>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->