<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Blog</h2>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/chatbot-in-the-healthcare-industry"><img src="assets/img/blog-image/saglık-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/chatbot-in-the-healthcare-industry">Chatbot in the Healthcare Industry</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/chatbot-in-the-healthcare-industry"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/artificial-intelligent-chatbot"><img src="assets/img/blog-image/yapay-zeka-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/artificial-intelligent-chatbot">Artificial Intelligent Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/artificial-intelligent-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/en/facebook-messenger-chatbot"><img src="assets/img/blog-image/facebook-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/en/facebook-messenger-chatbot">Facebook Messenger Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/en/facebook-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/chatbot-at-universities"><img src="assets/img/blog-image/universite-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/chatbot-at-universities">Chatbot at Universities</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/chatbot-at-universities"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/chatbots-for-e-commerce-website"><img src="assets/img/blog-image/etücaret-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/chatbots-for-e-commerce-website">Chatbots for E-commerce Website</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/chatbots-for-e-commerce-website"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/en/whatsapp-messenger-chatbot"><img src="assets/img/blog-image/whatsapp-blog.png" alt="image"></a>

                        <div class="date"><i class='bx bx-calendar'></i> May 1, 2020</div>
                    </div>

                    <div class="post-content">
                        <h3><a routerLink="/en/whatsapp-messenger-chatbot">Whatsapp Chatbot</a></h3>

                        <div class="post-info">
                            <div class="post-by">
                                <img src="assets/img/rabotikonsmall.png" alt="image">

                                <h6>Rabot</h6>
                            </div>

                            <div class="details-btn">
                                <a routerLink="/en/whatsapp-messenger-chatbot"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
