<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Sectoral Chatbot Solutions</h2>
    </div>
  </div>
</div>

<section class="about-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-content">
        <h2>Sectoral Chatbot Solutions</h2>
        <p>Chatbot solutions can be used in many different sectors for many different purposes. The starting point of
          Rabot Chatbot was to produce an innovative and entertaining Communication solution on Facebook for a brand's
          advertising campaign. Rabot has gone much further than being a solution for advertising and communication
          campaigns today, and it benefits many sectors.
          In the sectoral chatbot solutions, the banking and finance sector came to the fore before. It has become
          available in almost all sectors today. It no longer tolerates long waiting times in reaching the service they
          want, whether they are consumers or customers. In addition, the processing time for transactions such as
          orders, payments, reservations and purchases has increased the satisfaction with Chatbots. Nevertheless, if we
          think about which sectors it will be most suitable for and which sectors it uses more, E-commerce, Health,
          Travel and Tourism sectors come to the fore except banking. Research shows that the sectors where Chatbots are
          used will increase in usage rates.
        </p>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/sectorel-solutions/1- sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Chatbots in the E-Commerce Industry</h3>
          <p>In e-commerce, the companies that can meet customer needs and questions at any time can get advantage in
            the fastest and most accurate way. With these messages coming from different social channels and
            communication platforms, customers can easily ask for their cargo, orders and returns with Chatbots.
            Chatbots contribute to sales. In addition to making it easy for customers to find the product they are
            looking for, they can also offer them product or gift ideas. In addition, they can understand the buying
            behavior by examining the movements of customers with artificial intelligence and learning ability. With
            this information, they offer the right campaigns, products to the right customers at the right time. They
            send customers discount information or discount coupons and encourage them to buy.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Chatbots in the Healthcare Industry</h3>
          <p>Chatbots can be used in the Health Sector for different purposes besides speeding up processes such as
            making appointments. Patients can query x-ray and laboratory results from Chatbot. By preventing the loss of
            time spent on the phone, many transactions can be made with Chatbot. They also have the chance to inform
            patients about the various diseases, treatments and various aesthetic operations in the healthcare industry
            with Chatbots or to refer them to the relevant department on the website. They are able to reach customers
            who can deal with the issue in domestic and abroad, especially for hair transplantation, nose aesthetic
            operations, dental operations, etc., and respond to them in their own language. The future expectation in
            this sector is that Chatbot is able to diagnose patients to a certain extent by asking questions and reduces
            the workload of the doctor.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/sectorel-solutions/2- sektörel chatbot-eps.png" alt="image">
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/sectorel-solutions/3-sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Chatbots in the Travel and Tourism Industry</h3>
          <p>The Travel and Tourism sectors are at the top of the dynamic sectors where there is intense competition and
            service quality is very important. All efforts to increase customer satisfaction can benefit companies. With
            Chatbot, it is possible to make alternative travel routes and make holiday suggestions by understanding the
            holiday expectations and needs of customers. The customer can manage all his processes on Chatbot. It is
            able to solve many processes with Chatbot, such as having a hotel reservation, buying tickets, canceling and
            updating, receiving complaints, answering questions about the facilities. The online tourism and travel
            market is growing day by day. Companies that use all digital platforms quickly and successfully increase the
            customer satisfaction and take a step forward.
          </p>
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Chatbots in the Banking and Finance Sector</h3>
          <p>Bankacılık ve finans Chatbot’arın öncelikli olarak kullanılmaya başlandığı sektörlerdendir. Son yıllarda
            yaşanan dijital dönüşüm ile internet ve mobil bankacılık kullanım oranları çok fazla arttmıştır. Günümüzde,
            müşteriler tarafında oldukça sık kullanılan telefon bankacılığının yerine, Chatbot’lar tercih edilmeye
            başlanmıştır. Bu eğilim müşterilere zamandan tasarruf sağlamanın yanında, bankalara ve finans kuruluşlarına
            maliyetleri azaltmak açısından tasarruf sağlamaktadır. Müşteriler, dijital platformlardaki Chatbot ile para
            gönderme, alma, ödeme yapmak, bakiye sorgulama gibi pek işlemi yapabilme şansına sahiptir. Dijital sohbet
            asistanları, müşterilere işlemlerini hızlı ve kolay bir şekilde yapmalarını sağlarak zamandan tasarruf
            sağlarken, banka ve finans firmalarınada çalışan sayılarını düşürüp maliyetlerini kısarak, tasarruf sağlar.
            Müşterilerin verilerini analiz ederek onlara özel teklifler ve ürünler de sunabilmektedir.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/sectorel-solutions/4- sektörel chatbot-pdf.png" alt="image">
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="about-content">
        <p>Banking and finance are among the sectors where Chatbot started to be used primarily. With the digital
          transformation experienced in recent years, internet and mobile banking usage rates have increased very much.
          Today, Chatbots have started to be preferred instead of telephone banking, which is used frequently by
          customers. This trend not only saves customers time but also saves banks and financial institutions in terms
          of reducing costs. Customers have the opportunity to make many transactions such as sending money, receiving
          money, making payments, inquiring balance with Chatbot on digital platforms. Digital chat assistants save time
          by allowing customers to perform their transactions quickly and easily, while saving money by reducing the
          number of employees and reducing costs to banks and financial companies. It can also analyze customers' data
          and offer them special offers and products.
        </p>
        <p>With artificial intelligence and natural language processing technology, Rabot can work on WhatsApp, Facebook
          Messenger, Webchat, Instagram, Twitter, Skype, WeChat, Telegram, Slack, and all communications on digital
          channels can be gathered in a single point. In addition, Rabot can direct the communication to live support
          representatives at certain points with the live chat software that the sectors we mentioned will also need. It
          has the feature of directing the calls to live support on certain issues that it cannot answer or
          pre-selected, at the request of the customer who corresponds with the Bot, or on certain days and times. It
          can provide live support service from the Rabot panel or the chat software they use. All necessary
          integrations and developments are made by our company.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->