<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>ChatBot Entegrasyonları</h2>
    </div>
  </div>
</div>

<section class="about-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-content">
        <h2>Chatbot Entegrasyonları</h2>
        <p>Günümüzde, şirketlerin müşterileri olan iletişimlerini devam ettirmek ve geliştirmek için kullandıkları
          sosyal medya platformları, pazarlama araçlarını olarak da kullanılmaya başlanmıştır. Doğrudan bir iletişim
          sağlanabileceği için, mevcut ve potansiyel müşteriye bu platformlar ile erişebilmenin önemi de her gecen gün
          artmaktadır. Bu platfromlarda tüketici alışkanlıklarını anlamak, deneyiminlerini iyileştirmek,
          memnuniyetlerinin artırmak için de Chatbot’lar oldukça fazla tercih edilmeye başlanmıştır.

          Rabot, sayısız mesajlaşma platformuna ve sosyal medya mesajlaşma araçlarını entegre olma özelliğine sahiptir.
          Ayıca, web sitelerinde ve mobil uygulamalarda da hizmet verebilmektedir. Rabot, on-premise olarak
          kurulabilmekte, hızlı ve kolay bir şekilde pek çok platform entegre olabilmektedir.
        </p>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 1.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>Rabot, WhatsApp, Facebook Messenger, Webchat, Twitter, Skype, WeChat, Telegram, Slack gibi platformalarını
            sağladığı API ya da Business API’ler ile çalışabilme özelliğine sahip. Rabot, ayrıca Business API’leri
            olmasa dahi, geliştirdiğimiz mesajlaşma yazılımı ile Instagram DM den ve WhatsApp dan gelen mesajlara da
            cevap verebiliyor. WhatsApp dan gelen mesajlara, API olmadan cevap verebiliyor olması, WhatsApp da oluşan
            mesajlaşma başı maliyetleri de ortadan kaldırıyor. Instagram tarafında DM den gelen mesajlara cevap
            verebiliyor olmamız ise RABOT’u benzersiz kılıyor.
          </p>
          <p>Rabot ile API desteği olan servislerle de başarılı bir şekilde entegrasyonlar yapılabilmektedir. Chatbot
            üzerinde kargo sorgulama için kargo firmaları ile entegrasyonlar, E-ticaret sitelerinde kampanya, ürün ya da
            sipariş sorgulatmak için e-ticaret siteleri ile servis entegrasyonları yapılabilmektedir. Web de ve sosyal
            medya da chatbot ile yapılabilecek entegrasyonlar ve sağlanacak faydalardan kısaca aşağıda bahsettik.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Web Sitesi Chatbot’ları</h3>
          <p>Web sitelerinde, Chatbot entegrasyonları ve kullanımı oldukça yaygındır. Bir çok firma müşterilerine
            yardımcı olabilmek için canlı mesajlaşma yazılımları kullanmaktadır. Canlı mesajlaşma yazılımına Chatbot’u
            dahil ederek, fayda sağlamayı hedefliyorlar. Sitelerde çalışan Chatbot’lar canlı destek çalışanlarının
            yapabildiği pek çok işi yapabiliyor. Siteye giren müşterileri karşılamak, sıkca sorulan sorulara cevap
            vermek, randevu almak, rezarvasyon yapmak bunlardan başlıcaları.

          </p>
          <p>Müşterileriniz ile 7 gün 24 saat, iletişim kurabilmek, müşteri memnuniyetini arttırmanın yanında
            satışlarıda
            artırabilmektedir. Doğru kurgulanmış bir chatbot ile müşteri ihtiyaçlarını tam olarak anlayıp, sitede yer
            alan doğru ürüne müşterileri yönlendirebilmektedirler. Fakat, Chatbot’lar öncede düşünülüp, tasarlanmış bir
            canlı sohbet çözümü olduğu için belli sınırlar dahilinde cevap verebileceklerdir. Cevap veremediği noktada
            canlı destek temsilcisine yönlendirebilirler. Rabot yönetim panelleri ile müşteri temsilcilerinin, chatbot
            un cevap veremediği konularda devreye girmesini ve doğrudan mesajlaşmasını sağlar..
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 2-pdf.png" alt="image">
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="about-content">
        <h3>Facebook Messenger Chatbot’ları</h3>
        <p>Facebook Messenger Chatbot’ları web de olduğunun aksine yalnızca kullanıcıların sorularını cevaplamak ve
          bilgilendirmek ile kalmıyor, bir kez etkileşime geçmiş olan müşteriye, daha sonra doğrudan mesaj
          gönderebiliyor. Bundan dolayıda pek çok markanın sosyal medya pazarlama süreçlerinde yer alıyor.
        </p>
        <p>Facebook Messenger Chatbotları etkileşime geçmiş müşterilere mesaj gönderip, satışa yönlendirmede oldukça
          etkili olabiliyorlar. Facebook Messenger da Chatbot kullanımına karar vermeden önce, müşteri
          davranışlarınıza bakmanız gerekiyor. Eğer müşterileriniz firmanız ile Facebook üzerinde iletişime
          geçmiyorsa, geniş bir Facebook kitleniz yoksa çok doğru bir yatırım olmayacaktır. Facebook için
          planladığınız bir dijital pazarlama projeniz var ise Chatbot’u projenizin içine dahil etmeniz doğru
          olacaktır.
        </p>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 3-pdf.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>Facebook sayfanızda hizmet verecek Chatbot’un müşterileriniz hangi ihtiyaçlarını, nasıl karşılayacağını,
            müşterilerin nasıl bir deneyim yaşayacaklarını, hangi Chatbot entegrasyonlarının yapılacağını öncesinden
            belirlemeniz gerekecektir.Bunun içinde bir Chatbot senaryosu yazmanız gerekmektedir. Bot müşterilere yeni
            ürünler ile ilgili bilgi mi verecek, satın alma için siteye mi yönlendirecek, tam olarak belirlemeniz
            gerekmektedir. Chatbot hizmeti almadan önce bu konuları mutlaka netleştirmelisiniz.
            Müşteriler istedikleri cevabı alamadıklarında, sorularının doğrudan canlı destek temsilcisine sormak
            isteyecektir. Chatbot bu durumda, canlı desteğe müşteriyi yönlendirebilmelidir. Eğer canlı destek ekibi
            yoksa,
            müşteriler ile bir iletişim numarası yada email paylaşabilirler. Rabot, web panelleri ile canlı mesajlaşma
            yazılımı sahiptir. Cevap veremediği sorularda, müşteri temsilcisine yönlendirme gerçekleştirir.
          </p>
        </div>
      </div>
    </div>

    <!-- <div style="margin-top:70px" class="row align-items-center">
      <div class="about-content">
        <h3>Twitter Chatbot’ları</h3>
        <p>Sosyal medyada kullandığınız Chatbot’ları sadece müşterilerinizin sorularını yanıtlamak ve memnuniyetlerini
          artırmak için değil, doğrudan müşteriyi satın almaya yönledirebilecek teklifler, onlara özel ürün ve
          kampanyalarda sunmak içinde kullanmalısınız.
        </p>
      </div>
    </div> -->
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Twitter Chatbot’ları</h3>
          <p>Sosyal medyada kullandığınız Chatbot’ları sadece müşterilerinizin sorularını yanıtlamak ve memnuniyetlerini
            artırmak için değil, doğrudan müşteriyi satın almaya yönledirebilecek teklifler, onlara özel ürün ve
            kampanyalarda sunmak içinde kullanmalısınız.
          </p>
          <p>Twitter da Chatbot kullanımı müşterileri ile etkileşimi ve satışlarını artırmayı hedefleyen firmalar için
            uygundur. Twitter’ın gerçek zamanlı veriye, müşteriler hakkında ve kullanımları alışkanlıkları hakkında
            bilgilere erişim sağlaması, iyi bir mesajlaşma özelliğinin olması Chatbot kullanımı mantıklı kılıyor. Ayrıca
            Twitter’ın Chatbot geliştirilmesi için detaylı API erişimi sağlaması kullanımı kolaylaştırmakta,
            fonksiyonları ve olasılıkları genişletmektedir. Twitter Chatbot entegrasyonları, ile Tweet ve Retweet atma,
            Takip etme, Takipten çıkarma, Diğer hesaplara mesaj atma gibi işlemler yapılabilmektedir.
            Rabot Chatbot, Twitter’da; çeşitli bilgi paylaşımları yapmak, yaratıcı içerikler geliştirerek etkileşim
            yaratmak ve müşteri soralarını doğrudan hızlı bir şekilde vermek amaçlı kullanılabilmektedir.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img style="width: 400px;" src="assets/img/chatbot-entegrasyon/chatbot entegrasyon 4-pdf.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->