<!-- Start Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Chatbot Mesajlaşma ve Yönetim Paneli</h2>
    </div>
  </div>
</div>

<section class="about-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/message-panel/1.jpg" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h2>Chatbot Mesajlaşma ve Yönetim Paneli</h2>
          <p>Rabot mesajlaşma ve yönetim paneli, pek çok mesajlaşma platformlarını, sosyal medya, web chat gibi
            iletişimleri tek
            bir çatı altında topluyor. Rabot paneli ile Chatbot’un tüm iletişimleri log lanıyor, takip ve analiz
            edilebiliyor
          </p>
        </div>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>WhatsApp, Facebook, Instagram, Webchat, Twitter, Skype, WeChat, Telegram, Slack dan gelen mesajlar bu yolla
            tek bir noktada toplanmış oluyor. Panel üzerinden tüm yazışmalar okunabiliyor olması firmalara avantaj
            sağlıyor. Müşterilerin paylaştığı, telefon, email gibi İletişim bilgiler kayıt altına alınabiliyor.
          </p>
          <p>Rabot ile ilgili tüm chatbot geliştirmeleri tarafımızca, sizlerle birlikte yapılıyor. Chatbot dan olan
            beklentiler netleştirilip, gerekli kargo, ödeme, sorgulama vb entegrasonlar var ise yapılıp, chatbot sohbet
            senaryolar hazırlanıyor.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/message-panel/2.jpg" alt="image">
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img  style="width: 400px;height: 350px;" src="assets/img/message-panel/3.jpg" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>Rabot'un cevap veremediği durumlarda ise Rabot Mesajlaşma ve yönetim paneli devreye giriyor. Eğer firmada
            canlı
            destek personeli bulunmuyor ise, müşteri Rabot dan cevap alamadağı noktada, telefon yada email ile
            taleplerini iletebiliyor. Firmanın, canlı destek için müşteri temsilcileri var ise, Bot dan cevap
            alınamadığı noktada, müşterinin Chatbot ile olan yazışmaları yönetim paneline düşüyor. Uygun olan müşteri
            temsilcisi, müşteriden gelen canlı destek talebini alabiliyor. Müşteri temsilcileri yazışmanın hangi
            kanaldan geldiğini görebiliyor.
            Talep edilmesi durumunda, Chatbot’un cevap veremediği görüşmeleri ilgili müşteri temsilcilerine
            yönlendirilmesi de yapılabilmektedir. Temsilciler ihtiyac duydukları anda müşteriler ile olan görüşmelerini
            diğer bir müşteri temsilcisine yönlendirebiliyor.
          </p>
        </div>
      </div>
    </div>

    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <h3>Chatbot Raporlama Özellği</h3>
          <p>Rabot, gelişmiş raporlama desteği, Rabot ile hangi platformdan, ne kadar iletişim talebi başarılı şekilde
            cevaplanmış, ne kadarı canlı destek ekibin yönlendirilmiş görülebiliyor. Ayrıca, canlı destek ekibinde yer
            alan çalışanların günlük kaç adet müşteri destek talebine cevap vermiş gibi pek çok anlamlandırılabilir veri
            yönetim panelinde raporlanabiliyor. Rabot’un müşteriler ile olan mesajlaşmaları incelenerek, hangi konularda
            başarılı olduğunu, hangi konularda geliştirmeye ihtiyaç duyduğunu analiz edebilmekteyiz.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/message-panel/4.png" alt="image">
        </div>
      </div>
    </div>
    <div style="margin-top:70px" class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="assets/img/message-panel/5.png" alt="image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <p>Rabot mesajlaşma ve yönetim paneli ile mesajlaşma arşivine kolaylıkla ulaşılabiliyor. Bu yolla müşteriler
            ile
            yapılan sohbetlerde bir sorun, anlaşmazlık olması durumunda bu kayıtlara başvurulabiliyor. Görüşmeyi yapan
            müşteri temsilciside yaptığı görüşmeden sorumlu tutulabiliyor.
          </p>
          <p>
            7/24 destek veren Chatbot’un, cevap veremediği noktada canlı desteğe yönlendirdiği fakat calışanın o an
            Online
            olmaması durumlarda ise, sistem otomatik olarak müşteri talebi ile ilgili “Ticket” oluşturur. Müşteri
            sorusunu
            yada talebini ve İletişim bilgilerini paylaşır. Bu mesaj, yönetim panelinde “Ticket” bölümüne düşer. Online
            olan, müşteri temsilcileri sistemden bu ticket ları görüntüleyip cevap verebilmektedir.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->